@import '../Variables/Variables.scss';

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    border: 3px solid $yellowcolor;
}
.icon{
    font-size: 2rem;
    color: $yellowcolor;
}